@model ParcialAPI.DAL.Entities.Ticket


@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
   <head>

   </head>
   <body>
       <div>
           <h1>Verificación de Tiquetes</h1>
           <form action="Tickets/Verificar" method="post">
               <label>Id Tiquete:<input type="text" name="id" value=" " /></label><br />
               <label>Puerta Entrada:<input type="text" name="entranceGate" value=" " /></label><br />
               <input type="submit" name="Verificar" value="Verificar"/>
           </form>
       </div>
   </body>
</html>









