
@{
    ViewData["Title"] = "Verificar";

}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
    <div>
        <h1>@ViewData["Message"]</h1>
        <a asp-action="Index" class="btn btn-outline-dark">Regresar</a>
    </div>
</body>
</html>

